<!-- <app-counter></app-counter> -->

<app-toggle-theme-btn btnClasses="float-right m-2"></app-toggle-theme-btn>

<ng-container *ngIf="loading$ | async; else employeeList">
  <div
    class="absolute inset-0 flex items-center justify-center min-h-screen space-x-4 bg-black/50"
  >
    <svg-loading-process
      classes="w-8 h-8 animate-spin mx-auto text-blue-600"
      strokeWidth=".5"
      stroke="none"
    ></svg-loading-process>
    <h2 class="text-white">Loading...</h2>
  </div>
</ng-container>

<ng-template #employeeList>
  <p>employee works!</p>
  <app-table-container
    *ngIf="rows.length"
    [tableName]="tableName"
    [tableContainerClass]="'!bg-gray-400'"
    [tableHeaderClass]="'!border-none'"
    [tableBodyClass]="'text-black'"
    [ListOfNotSortableColumns]="['address', 'company']"
  >
  </app-table-container>
  <ng-container *ngIf="error !== ''">
    <p>{{ error }}</p>
  </ng-container>

  <app-pagination-bar
    *ngIf="rows.length"
    [paginationId]="tableName"
    [pageSize]="pageSize"
    [maxPagesToDisplay]="maxPagesToDisplay"
  ></app-pagination-bar>
</ng-template>
