<p>employee works!</p>
<!-- <app-counter></app-counter> -->

<ng-container *ngIf="loading$ | async; else employeeList">
  <fa-icon [icon]="faSpinner" [classes]="['w-4 h-4']"></fa-icon>
  Loading...
</ng-container>

<ng-template #employeeList>
  <app-table-container
    *ngIf="rows.length"
    [tableName]="tableName"
    [tableContainerClass]="'!bg-gray-400'"
    [tableHeaderClass]="'!border-none'"
    [tableBodyClass]="'text-black'"
    [ListOfNotSortableColumns]="['address', 'company']"
  >
  </app-table-container>
</ng-template>
<ng-container *ngIf="error !== ''">
  <p>{{ error }}</p>
</ng-container>

<app-pagination-bar
  *ngIf="rows.length"
  [paginationId]="tableName"
  [pageSize]="pageSize"
  [maxPagesToDisplay]="maxPagesToDisplay"
></app-pagination-bar>

<svg-loading-process
  classes="w-8 h-8 animate-spin mx-auto !text-red-900"
  strokeWidth=".5"
  fill="#56E"
></svg-loading-process>
strokeColor="text-red-900" fill="text-red-900" -->
