<div class="">
  <div
    class="relative flex flex-col w-full min-w-0 mb-6 break-words rounded shadow-lg bg-sky-900"
    [ngClass]="classNames(tableContainerClass)"
  >
    <!-- section: Table Container Heading -->
    <div class="px-4 py-3 mb-0 border-0 rounded-t">
      <div class="flex flex-wrap items-center">
        <div class="relative flex-1 flex-grow w-full max-w-full px-4">
          <h3 class="text-lg font-semibold">
            {{ tableName }}
          </h3>
        </div>
      </div>
    </div>

    <!-- section: Main Table -->
    <div class="block w-full overflow-x-auto min-h-[28vh]">
      <table
        class="items-center w-full bg-transparent border-collapse table-auto"
        [ngClass]="classNames(tableBodyClass)"
      >
        <!-- section: TABLE HEAD -->
        <thead>
          <tr>
            <!-- section: checkbox header -->
            <th
              class="px-2 py-3 align-middle border border-l-0 border-r-0 border-solid"
              [ngClass]="classNames(tableHeaderClass)"
            >
              <input
                (change)="selectAllRows($event, tableData)"
                class="w-3.5 h-3.5 rounded-sm"
                type="checkbox"
                id="select-all"
                name="select-all"
                value="select-all"
              />
            </th>
            <!-- section: loop though header -->
            <ng-container *ngFor="let column of sortedColumns; let i = index">
              <th
                class="px-4 py-3 align-middle border border-l-0 border-r-0 border-solid"
                [ngClass]="classNames(tableHeaderClass)"
              >
                <button
                  [disabled]="!column.sortable"
                  (click)="onSortChange(i)"
                  type="button"
                  class="flex items-center space-x-1 text-xs font-bold text-left uppercase whitespace-nowrap"
                >
                  <p>{{ column.name | splitPascalCase }}</p>
                  <!-- section: SORTING ICONS -->

                  <!-- section: default view icons if that column is sortable -->
                  <fa-icon
                    *ngIf="column.sortable && column.sort === 'none'"
                    [icon]="faSort"
                    [classes]="[' w-3.5 h-3.5']"
                  ></fa-icon>
                  <!-- section: sort icons up and down  -->
                  <fa-icon
                    *ngIf="column.sortable && column.sort !== 'none'"
                    [icon]="
                      column.sort === 'sort-down'
                        ? faArrowDownWideShort
                        : faArrowUpWideShort
                    "
                    [classes]="[' w-3.5 h-3.5 text-blue-600']"
                  ></fa-icon>
                </button>
              </th>
            </ng-container>
            <!-- section: action header  -->
            <th
              class="px-4 py-3 text-xs font-bold text-left text-black uppercase align-middle border-solid bg-gray-700/30 whitespace-nowrap"
              *ngIf="actions && actions.length"
            >
              ACTIONS
            </th>
          </tr>
        </thead>
        <!-- section: TABLE BODY -->
        <tbody class="relative even-child:bg-gray-300/50">
          <ng-container *ngFor="let row of sortedRows; let r = index">
            <tr
              class="border-b border-gray-500 child:truncate child:py-2.5 child:px-4 child:text-xs child:align-middle child:border-t-0 child:border-l-0 child:border-r-0 child:whitespace-nowrap"
            >
              <!-- section: checkbox Button -->

              <td class="text-center">
                <input
                  (change)="selectRow($event, row)"
                  class="w-3.5 h-3.5 rounded-sm"
                  type="checkbox"
                  id="{{ 'checkbox' + r }}"
                  name="{{ 'checkbox' + r }}"
                  value="{{ 'checkbox' + r }}"
                />
              </td>

              <!-- section: TABLE DATA with NG FOR LOOP for every single row -->
              <ng-container
                *ngFor="
                  let cell of row | keyvalue: pipeSortFunction;
                  let i = index
                "
              >
                <td>
                  <ng-container
                    *ngFor="let customColumn of customColumns; let j = index"
                  >
                    <ng-container *ngIf="!indexList.includes(i)">
                      <!-- section: normal columns data -->
                      <ng-container *ngIf="j < 1">
                        <!-- {{ cell.value }} -->
                        {{ cell.value | joinObjectValues }}
                      </ng-container>
                    </ng-container>
                    <!-- section: CUSTOM COLUMNS -->
                    <ng-container *ngIf="customColumn.index === i">
                      <button
                        *ngIf="customColumn.type === 'icon'"
                        (click)="onclick(row, customColumn.name)"
                      >
                        <fa-icon
                          [icon]="customColumn.icon"
                          [classes]="['w-4 h-4']"
                        ></fa-icon>
                      </button>
                      <img
                        *ngIf="customColumn.type === 'image'"
                        src="{{ customColumn.url }}"
                        alt="{{ customColumn.name }}"
                      />
                      <button
                        class="w-24 py-1.5 border border-black rounded-sm"
                        *ngIf="customColumn.type === 'link'"
                        routerLink="{{ customColumn.url }}"
                      >
                        {{ customColumn.name | titlecase }}
                      </button>

                      <button
                        class="w-24 py-1.5 border border-black rounded-sm"
                        *ngIf="customColumn.type === 'button'"
                      >
                        {{ customColumn.name | titlecase }}
                      </button>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>

              <!-- section: ACTIONS BUTTONS -->
              <td
                *ngIf="actions && actions.length"
                class="flex justify-around space-x-2"
              >
                <ng-container *ngFor="let action of actions">
                  <button (click)="onclick(row, action.name)">
                    <fa-icon
                      [icon]="action.icon"
                      [classes]="['w-4 h-4']"
                      ngClass="{{
                        action.name === 'Delete'
                          ? 'text-red-500'
                          : action.name === 'Edit'
                          ? 'text-yellow-500'
                          : 'text-blue-500'
                      }}"
                    ></fa-icon>
                  </button>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
