value: {{ value }}

<ng-container *ngFor="let item of items">
  <div
    class="flex items-center py-1 pl-4 border border-gray-200 rounded dark:border-gray-700"
  >
    <input
      type="radio"
      [value]="item.value"
      [ngModel]="value"
      (ngModelChange)="change($event)"
      class="w-3 h-3 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-1 dark:bg-gray-700 dark:border-gray-600"
      name="radio2"
    />
    <label class="block ml-2 text-xl cursor-pointer">
      {{ item.name }}
    </label>
  </div>
</ng-container>
