<section>
  <div class="container">
    <h2 class="my-4">Let's get things done!</h2>
    <input class="mx-6 rounded outline outline-black" [(ngModel)]="todo" />

    <button class="px-4 py-2 border border-black" (click)="addTodo()">
      Add Todo
    </button>

    <ul lines="none">
      <li button *ngFor="let todo of allTodoS$ | async">
        <!-- <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon> -->
        <label (click)="removeTodo(todo)"> {{ todo.title }} </label>
        <p>{{ todo.completed ? "Completed" : "Not Complete" }}</p>
      </li>
    </ul>
  </div>
</section>

{{ status$ | async }}
