<app-header headerClasses="h-[4.3rem]"></app-header>
<div class="flex h-[86vh]">
  <app-side-navbar sidebarClasses=""></app-side-navbar>

  <section class="h-[90%] w-[90%] space-y-8 my-2 mx-4">
    <!-- section: filter card section -->
    <div class="w-full rounded-lg bg-gradient-to-l from-cyan-500 to-blue-300">
      <div
        class="h-full bg-white bg-opacity-50 border border-gray-200 shadow-sm sm:rounded-lg bg-clip-padding"
      >
        <!-- style="backdrop-filter: blur(20px)" -->
        <div class="mx-auto">
          <ng-content select="[filterContent]"></ng-content>
        </div>
      </div>
    </div>

    <!-- section: table -->
    <div class="relative">
      <ng-content select="[tableContent]"></ng-content>
    </div>
  </section>
</div>

<app-footer footerClasses=""></app-footer>
